{{#each releases}}
### [{{title}}]({{href}}) - {{isoDate}}

{{#commit-list commits heading='### Breaking changes' message='BREAKING CHANGE: '}}
- {{subject}} [`{{shorthash}}`]({{href}})
{{/commit-list}}

{{#commit-list commits heading='### Features, performance & tests' message='feat: |perf: |test: '}}
- {{subject}} [`{{shorthash}}`]({{href}})
{{/commit-list}}

{{#commit-list commits heading='### Fixes' message='fix: |refactor: |style: '}}
- {{subject}} [`{{shorthash}}`]({{href}})
{{/commit-list}}

{{#commit-list commits heading='### Notes' exclude='feat: |perf: |style: |test: |fix: |BREAKING CHANGE: |refactor: '}}
- {{subject}} [`{{shorthash}}`]({{href}})
{{/commit-list}}
{{/each}}